.color-green {
	color: green;
}

.color-red {
	color: red;
}

#errors {
	border-top: none;
}

.list-inline li {
	display: inline-block;
	padding-right: 0;
}

.list-inline li:after {
	content: '|';
	margin: 0 10px;
}

.list-inline li:last-child:after {
	content: '';
}